div.starter-template
    div#messages(ng-show="errorMessage") {{ errorMessage }}

    form.form-signin(ng-submit="doLogin()", name="loginForm", novalidate)
        h2.form-signin-heading {{ loginTitle }}

        input.form-control(type="text", name="email", placeholder="Email Address", ng-model="user.email", required, autofocus)
        span(ng-show="hasError('email')") Email address is required
        span(ng-show="errorUsername") {{ errorUsername }}

        input.form-control(type="password", name="password", placeholder="Password", ng-model="user.password", required)
        span(ng-show="hasError('password')") Password is required
        span(ng-show="errorPassword") {{ errorPassword }}

        button.btn-link Forgot Password?
        br
        a(ng-click='register()')
            button.btn-link Create Account

        button(class="btn btn-lg btn-primary btn-block", type="submit") Sign in